.main_div{
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(69deg, #00fed8 0%, #02447e 100%);
    background: linear-gradient(69deg, #00fed8 0%, #02447e 100%);
}
.todo_div{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.todo_div h1{
padding: 2rem 0;
color: white;
font-family: cursive;
}
.input_div{
    width: 25rem;
    position: relative;
    margin: auto;
}
.input_div input{
    width: 100%;
    position: relative;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.429);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.795);
}
.input_div #add{
    position: absolute;
    right: 10px; top: 12px;
    font-size: large;
    cursor: pointer;
    z-index: 1;
}
.input_div input:focus{
    outline: none;
}
.list_div{
    width: 32rem;
    position: relative;
    margin:2rem auto;
    padding: 10px;
    max-height: 60vh;
    overflow-y: auto;
}
.item_list{
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: left;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.795);
}
.list_action{
    position: absolute;
    right: 10px; top: 0.8rem;
    display: flex;
    font-size: large;
    align-items: center;
    gap: 8px; cursor: pointer;
    z-index: 1;
}
.list_action #edit, .list_action #delete{
transition: 0.3s;
}
.list_action #edit:hover{
    color: rgb(0, 155, 0);
    transform: scale(1.1);
}
.list_action #delete:hover{
color: red;
transform: scale(1.1);
}
.isedit{
    color: green;
}
#clear_btn{
    /* border: 1.5px solid rgb(255, 255, 255); */
    background-color: tomato;
    width: 8rem;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.795);
    transition: 0.5s;
}
#clear_btn:hover{
    transform: scale(1.1);
    background-color: rgb(255, 38, 0);
    color: white;
}
@media screen and (max-width:640px) {
    .todo_div{
        width: 100%;
        padding: 1rem;
    }
    .input_div{
        width: 100%;
    }
    .list_div{
        width: 100%;
        position: relative;
        margin:2rem auto;
        padding: 10px;
        height: auto;
    }
}